.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Fondo oscuro semi-transparente */
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  z-index: 1000; /* Asegúrate de que el modal esté sobre otros elementos */
}

/* Estilo para el modal de inicio de sesión */
.modal-contenido {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 350px; /* Ancho específico para el modal de inicio de sesión */
  max-width: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  overflow: hidden;
  /* Esto asegura que el modal esté centrado y no se desplace */
  position: relative;
  margin: auto;
}

/* Estilo para el modal del carrito */
.modal-carrito {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px; /* Ancho del modal del carrito */
  max-width: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  overflow: hidden;
  /* Asegura que el modal de carrito esté centrado */
  position: relative;
  margin: auto;
}

/* Estilo para los botones dentro del modal */
.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

/* Estilo para el botón de "Continuar compra" en el modal del carrito */
.boton-continuar-compra {
  background-color: #45a049;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.boton-continuar-compra:hover {
  background-color: #45a049;
}

.modal-close:hover {
  color: white; /* Cambia a un rojo más oscuro al pasar el mouse */
  background-color: darkred;
  font-size: 15px;
}

.modal-contenido input {
  display: block;
  min-width: 320px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Botón de "Entrar" */
.modal-submit {
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal-submit:hover {
  background-color: #555;
}

/* Media query para pantallas pequeñas */
@media (max-width: 600px) {
  .modal-contenido,
  .modal-carrito {
    width: 90%; /* Ajusta el ancho para pantallas pequeñas */
    padding: 15px; /* Reduce el padding */
  }

  .modal-close {
    font-size: 14px; /* Reduce el tamaño de fuente del botón de cierre */
  }

  .carrito-producto-imagen {
    width: 60px;
    height: 60px; /* Ajusta el tamaño de la imagen */
  }

  .boton-continuar-compra {
    font-size: 14px; /* Reduce el tamaño de fuente del botón */
    padding: 8px 15px; /* Ajusta el padding */
  }

  .modal-contenido input {
    min-width: 100%; /* Ajusta el tamaño del input */
  }
}
