.logo img {
  width: 110px; /* Ajusta el tamaño que necesites */
  height: auto; /* Mantiene la proporción de la imagen */
  cursor: pointer;
}

.menu-header {
  display: flex;
  align-items: center; /* Alinea verticalmente el contenido */
  justify-content: space-between;
  padding: 0px; /* Ajusta según tus preferencias */
  height: 50px; /* Define la altura específica del Navbar */
 
  }
  

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f8f8f8;
  border-bottom: 1px solid #ccc;
}

.menu-categorias {
  display: flex;
  gap: 20px;
}

.menu-item {
  position: relative;
}

.dropdown-menu {
  display: none; /* Oculto por defecto */
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #ffffff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  gap: 20px;
  z-index: 1;
}

.menu-item:hover .dropdown-menu {
  display: flex; /* Muestra el menú solo cuando el mouse está sobre el contenedor */
}

.dropdown-menu div {
  min-width: 120px;
}

.dropdown-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu li {
  margin: 5px 0;
}
/* Estilo para los enlaces principales */
.menu-item > a {
  color: #333; /* Color del texto principal */
  text-decoration: none;
}

.menu-item > a:hover {
  color: #333; /* Mantener el color igual al pasar el mouse */
}

/* Estilo para los botones en el menú desplegable */
.dropdown-button {
  background: none;
  border: none;
  padding: 15px;
  cursor: pointer;
  text-align: left;
  font-size: 14px;
  color: #333; /* Color de texto normal */
  width: 100%;
}

.dropdown-button:hover {
  color: #007bff; /* Color azul solo al pasar el mouse */
}
/* Estilo para el contenedor de iconos */
.menu-iconos {
  display: flex;
  gap: 15px; /* Aumenta el espacio entre los iconos */
}

/* Estilo para los iconos individuales */
.icono-usuario,
.icono-carrito {
  font-size: 20px;
  cursor: pointer; /* Cambia el cursor a pointer */
  color: #333; /* Color normal de los iconos */
  transition: color 0.3s; /* Animación suave para el cambio de color */
  position: relative;
}

/* Efecto al pasar el mouse */
.icono-usuario:hover,
.icono-carrito:hover {
  color: #007bff; /* Color azul al pasar el mouse */
}

.profile-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border: 1px solid #ddd;
  padding: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.profile-menu-item {
  background: none;
  border: none;
  width: 100%;
  padding: 5px;
  text-align: left;
  cursor: pointer;
}

.profile-menu-item:hover {
  background-color: #f0f0f0;
}

