.tarjeta-producto {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  width: 125%;
  height: 293px;
  border-radius: 4px;
  margin: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.tarjeta-producto-imagen {
  width: 100%;
  height: auto;
  max-height: 150px;
  object-fit: cover;
  margin-bottom: 9px;
}


.tarjeta-producto-link {
  text-decoration: none;
  color: inherit;
  width: 50%;
}

.tarjeta-producto:hover {
  transform: scale(1.02);
}


.tarjeta-producto-nombre, .tarjeta-producto-precio {
  text-align: center;
}

.precio {
  color: green;
  font-weight: bold;
}

.boton-carrito {
  background-color: black;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}

.campo-busqueda {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
/* Estilo para el menú desplegable */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #f9f9f9;
  color: black;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
