.tarjeta-producto {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  width: 293px;
  height: 293px;
}

.tarjeta-producto-imagen {
  width: auto;
  height: auto;
  max-height: 150px;
  object-fit: cover;
  margin-bottom: 9px;
}

.precio {
  color: green;
  font-weight: bold;
}

.boton-carrito {
  background-color: black;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}

.campo-busqueda {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Media query para pantallas pequeñas */
@media (max-width: 600px) {
  .tarjeta-producto {
    width: 100%;
    height: auto; /* Ajusta la altura para pantallas pequeñas */
  }

  .tarjeta-producto-imagen {
    max-height: 100px; /* Reduce la altura máxima de la imagen */
  }

  .boton-carrito {
    padding: 8px 15px; /* Ajusta el padding para pantallas pequeñas */
  }

  .campo-busqueda {
    font-size: 14px; /* Reduce el tamaño de fuente */
    padding: 6px; /* Ajusta el padding */
  }
}
