.tarjeta-producto {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  width: 293px;
  height: 293px;
}

.tarjeta-producto-imagen {
  width: auto;
  height: auto;
  max-height: 150px;
  object-fit: cover;
  margin-bottom: 9px;
}



.precio {
  color: green;
  font-weight: bold;
}

.boton-carrito {
  background-color: black;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}

.campo-busqueda {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}